body, html {
			height: 100%;
			margin: 0;
			background-color: #FAD381;
		}
		h1 {
				text-align: center;
				font-size: 32pt;
				font: Merriweather, Arial;
				color: #000;
				background-color: #d99c57;
				margin: 0;
				padding: 0;
				position: -webkit-sticky;
				position: sticky;
			}
		h2 {
			font-size: 17pt;
			color:  #fff;
			padding-left: 10px;
			padding-right: 10px;
		}
		h3 {
			font-size: 12pt;
			font: Arial;
			text-align: center;
		}
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #444444;
			list-style-type: none;
			text-decoration: none;
		}
		li {
			float: left;
		}
		li a{
			font-size: 24pt;
			display: block;
			color: white;
			text-decoration: none;
			text-align: center;
			padding: 25px;
			margin-left: 20px; 
		}
		li a:hover{
			background-color: #111111;
		}
		p span {
			display: block;
		}
		input[type=text], select {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}

		input[type=button], input[type=submit], input[type=reset] {
		  background-color: #d99c57;
		  border: none;
		  color: white;
		  padding: 16px 32px;
		  text-decoration: none;
		  width: 100%;
		  cursor: pointer;
		}

		div {
		  border-radius: 5px;
		  background-color: #f2f2f2;
		  padding: 20px;
		}

		input[type=submit]:hover {
		  background-color: #45a049;
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.sticky {
		 		position: fixed;
		 		top: 0;
		 		width: 100%;
		}
