body, html {
			height: 100%;
			margin: 0;
			background-color: #FAD381;
		}
		h1 {
				text-align: center;
				font-size: 32pt;
				font: Merriweather, Arial;
				color: #000;
				background-color: #d99c57;
				margin: 0;
				padding: 0;
			}
		h2 {
			font-size: 17pt;
			color:  #000;
			background-color: #deae7e;
			padding-left: 10px;
			padding-right: 10px;
		}
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #444444;
			list-style-type: none;
			text-decoration: none;
		}
		li {
			float: center;
		}
		li a{
			font-size: 24pt;
			display: block;
			color: white;
			text-decoration: none;
			text-align: center;
			padding: 14px;
			margin-left: 20px; 
		}
		li a:hover{
			background-color: #111111;
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
